/************************TAG SELECTORS**************************/

/************************CLASS SELECTORS**************************/

/*To be applied using javascript*/
.huge { 
    font-size: 10rem; 
    color: lightblue; 
    font-weight: bold;
}

.blockdiv { 
    height: 150px; 
    width: 150px; 
    background-color: lightgrey;
    position: relative;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: 1%;
    padding: 1%;
}


.yellow { 
    height: 100px; 
    width: 100px; 
    background-color: yellow;
    position: relative;
    margin: 0;
}
/************************CLASS SELECTORS**************************/



