/************************TAG SELECTORS**************************/

/************************CLASS SELECTORS**************************/

/*To be applied using javascript*/
.huge { 
    font-size: 10rem; 
    color: lightblue; 
    font-weight: bold;
}

/************************CLASS SELECTORS**************************/



